:root {
  /* Colors — Primary */
  --color-primary: #e1ecff;
  --color-secondary: #148fff;
  --color-accent: #f79942;

  /* Colors — Neutrals */
  --color-neutral-50: #e5e7eb;
  --color-neutral-100: #000000;
  --color-neutral-200: #ffffff;
  --color-neutral-300: #707070;
  --color-neutral-400: #161616;
  --color-neutral-500: #384642;
  --color-neutral-600: #656565;
  --color-neutral-700: #474747;
  --color-neutral-800: #f1f1f1;
  --color-neutral-900: #999999;

  /* Colors — Backgrounds */
  --color-bg: #05061c;
  --color-bg-1: #05061b;
  --color-bg-2: #373737;
  --color-bg-3: #ffffff;
  --color-bg-4: #e6fff7;
  --color-bg-5: #fff4f4;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #ffffff;
  --color-text-2: #b3b3b3;
  --color-text-3: #05898b;
  --color-text-4: #148fff;

  /* Typography — Families */
  --font-sans: 'Inter', sans-serif;
  --font-body: 'Geist Mono', sans-serif;
  --font-font-2: 'Aeonik Pro', sans-serif;

  /* Typography — Scale */
  --font-size-74: 74px;
  --font-size-64: 64px;
  --font-size-48: 48px;
  --font-size-36: 36px;
  --font-size-24: 24px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-13: 13px;
  --font-size-12: 12px;
  --font-size-11: 11px;
  --font-size-10: 10px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-31: 31px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-67: 67px;
  --spacing-72: 72px;
  --spacing-76: 76px;
  --spacing-80: 80px;
  --spacing-90: 90px;
  --spacing-96: 96px;
  --spacing-109: 109px;
  --spacing-116: 116px;
  --spacing-120: 120px;
  --spacing-125: 125px;
  --spacing-140: 140px;
  --spacing-160: 160px;
  --spacing-164: 164px;
  --spacing-172: 172px;

  /* Border Radius */
  --radius-xs: 1px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 11px;
  --radius-lg: 14px;
  --radius-xl: 18px;
  --radius-xl: 24px;
  --radius-full: 32px;
  --radius-full: 999px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.04) 0px 8px 8px -3px, rgba(255, 255, 255, 0.04) 0px 3px 3px -1.5px, rgba(255, 255, 255, 0.03) 0px 2px 2px -1px, rgba(255, 255, 255, 0.03) 0px 1px 1px -0.5px, rgba(255, 255, 255, 0.04) 0px 0px 0px 1px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgba(0, 0, 0, 0.08) 0px 4px 16px 0px, rgba(0, 0, 0, 0.08) 0px 16px 56px 0px;
  --shadow-xs: rgba(255, 255, 255, 0.06) 0px 0.5px 0.5px 0px inset, rgba(5, 6, 27, 0.88) 0px 16px 56px 0px, rgba(5, 6, 27, 0.16) 0px 2px 4px 0px, rgba(5, 6, 27, 0.12) 0px 1px 2px 0px, rgba(5, 6, 27, 0.88) 0px 0px 0px 1px;
  --shadow-xs: rgba(255, 255, 255, 0.7) 0px 0px 1px 0.1px inset, rgba(255, 255, 255, 0.32) 0px 0px 8px 0px;
  --shadow-xs: rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.02) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.04) 0px 6px 6px -3px, rgba(0, 0, 0, 0.06) 0px 12px 12px -3px;
  --shadow-xs: rgba(0, 0, 0, 0.04) 0px -2px 0.5px 0px inset, rgba(0, 0, 0, 0.04) 0px 12px 12px -3px, rgba(0, 0, 0, 0.02) 0px 6px 6px -3px, rgba(0, 0, 0, 0.02) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px;
  --shadow-xs: rgba(255, 255, 255, 0.12) 0px 1px 2px -0.5px inset, rgba(255, 255, 255, 0.16) 0px 0.5px 0.5px 0px inset, rgba(255, 255, 255, 0.16) 0px 8px 24px -4px inset, rgba(9, 1, 20, 0.03) 0px 8px 8px -3px, rgba(9, 1, 20, 0.03) 0px 5px 5px -2.5px, rgba(8, 1, 20, 0.03) 0px 3px 3px -1.5px, rgba(8, 1, 20, 0.03) 0px 2px 2px -1px, rgba(8, 1, 20, 0.03) 0px 1px 1px -0.5px, rgba(8, 1, 20, 0.03) 0px 0.5px 0.5px 0px;
  --shadow-xs: rgba(0, 0, 0, 0.04) 0px -1px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px -0.5px 0.5px 0px inset;
  --shadow-xs: rgba(255, 255, 255, 0.36) 0px 1px 2px -0.5px inset, rgba(255, 255, 255, 0.18) 0px 0.5px 0.5px 0px inset, rgba(255, 255, 255, 0.25) 0px 8px 24px -4px inset, rgba(0, 0, 0, 0.1) 0px 8px 8px -3px, rgba(0, 0, 0, 0.1) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.08) 0px 2px 2px -1px, rgba(0, 0, 0, 0.06) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.06) 0px 0.5px 0.5px 0px;
  --shadow-sm: rgba(4, 8, 34, 0.16) 0px 1.375px 1.833px -0.687px, rgba(3, 8, 35, 0.16) 0px 0.917px 1.375px -0.458px, rgba(3, 8, 35, 0.16) 0px 0.458px 0.687px -0.229px, rgba(3, 8, 35, 0.16) 0px 0.229px 0.458px -0.115px, rgba(3, 8, 35, 0.16) 0px 0.115px 0.229px -0.057px, rgba(0, 0, 0, 0.12) 0px 0.057px 0.115px 0px;
  --shadow-sm: rgba(4, 8, 34, 0.06) 0px 1.5px 2px -0.75px, rgba(3, 8, 35, 0.12) 0px 1px 1.5px -0.5px, rgba(3, 8, 35, 0.12) 0px 0.5px 0.75px -0.25px, rgba(3, 8, 35, 0.12) 0px 0.25px 0.5px -0.125px, rgba(3, 8, 35, 0.12) 0px 0.125px 0.25px -0.062px, rgba(0, 0, 0, 0.12) 0px 0.062px 0.125px 0px;
  --shadow-sm: rgba(8, 1, 20, 0.03) 0px 2px 2px -1px, rgba(8, 1, 20, 0.03) 0px 1px 1px -0.5px, rgba(8, 1, 20, 0.03) 0px 0.5px 0.5px 0px, rgba(255, 255, 255, 0.04) 0px 2px 8px 0px inset, rgba(255, 255, 255, 0.1) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.12) 0px 0.5px 0.5px 0px inset;
  --shadow-sm: rgba(255, 255, 255, 0.06) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.06) 0px 0.5px 0.5px 0px inset, rgba(2, 9, 44, 0.24) 0px 16px 56px 0px, rgba(1, 9, 44, 0.24) 0px 4px 16px 0px, rgba(2, 9, 44, 0.24) 0px 1px 2px 0px, rgba(5, 6, 27, 0.52) 0px 0px 0px 1px;
  --shadow-sm: rgba(255, 255, 255, 0.06) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.06) 0px 0.5px 0.5px 0px inset, rgba(1, 9, 44, 0.24) 0px 4px 8px 0px, rgba(2, 9, 44, 0.24) 0px 1px 2px 0px, rgba(5, 6, 27, 0.74) 0px 0px 0px 1px;
  --shadow-sm: rgba(255, 255, 255, 0.06) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.06) 0px 0.5px 0.5px 0px inset, rgba(0, 0, 0, 0.24) 0px 16px 56px 0px, rgba(0, 0, 0, 0.24) 0px 4px 16px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px, rgba(0, 0, 0, 0.52) 0px 0px 0px 1px;
  --shadow-sm: rgba(255, 255, 255, 0.12) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.12) 0px 0.5px 0.5px 0px inset, rgba(101, 101, 101, 0.16) 0px 4px 8px -2px, rgba(101, 101, 101, 0.12) 0px 2px 4px -1px, rgba(101, 101, 101, 0.12) 0px 1px 2px -0.5px, rgba(101, 101, 101, 0.12) 0px 0.5px 0.5px 0px;
  --shadow-sm: rgba(4, 8, 34, 0.16) 0px 2.062px 2.75px -1.031px, rgba(3, 8, 35, 0.16) 0px 1.375px 2.062px -0.687px, rgba(3, 8, 35, 0.16) 0px 0.687px 1.031px -0.344px, rgba(3, 8, 35, 0.16) 0px 0.344px 0.687px -0.172px, rgba(3, 8, 35, 0.16) 0px 0.172px 0.344px -0.086px, rgba(0, 0, 0, 0.12) 0px 0.086px 0.172px 0px;
  --shadow-sm: rgba(255, 255, 255, 0.32) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 1px 2px 0px, rgba(255, 255, 255, 0.32) 0px 0.5px 0.5px 0px;
  --shadow-sm: rgba(4, 8, 34, 0.06) 0px 2.824px 3.765px -1.412px, rgba(3, 8, 35, 0.12) 0px 1.882px 2.824px -0.941px, rgba(3, 8, 35, 0.12) 0px 0.941px 1.412px -0.471px, rgba(3, 8, 35, 0.12) 0px 0.471px 0.941px -0.235px, rgba(3, 8, 35, 0.12) 0px 0.235px 0.471px -0.118px, rgba(0, 0, 0, 0.12) 0px 0.118px 0.235px 0px;
  --shadow-md: rgba(0, 0, 0, 0.02) 0px 4px 8px 0px inset, rgba(0, 0, 0, 0.02) 0px 3px 6px 0px inset, rgba(0, 0, 0, 0.02) 0px 2px 4px 0px inset, rgba(0, 0, 0, 0.03) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0.5px 0.5px 0px inset;
  --shadow-md: rgba(0, 0, 0, 0.02) 0px 6px 6px -3px, rgba(0, 0, 0, 0.02) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.04) 0px 12px 12px -3px;
  --shadow-md: rgba(255, 255, 255, 0.04) 0px 4px 8px 0px inset, rgba(255, 255, 255, 0.04) 0px 2px 4px 0px inset, rgba(255, 255, 255, 0.04) 0px 1px 1px 0px inset, rgba(255, 255, 255, 0.06) 0px 0.5px 0.5px 0px inset;
  --shadow-md: rgba(255, 255, 255, 0.08) 0px -4px 12px -4px inset, rgba(255, 255, 255, 0.06) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.12) 0px 0.5px 0.5px 0px inset, rgba(9, 1, 20, 0.06) 0px 8px 8px -3px, rgba(8, 1, 20, 0.06) 0px 3px 3px -1.5px, rgba(8, 1, 20, 0.04) 0px 2px 2px -1px, rgba(8, 1, 20, 0.03) 0px 1px 1px -0.5px, rgba(8, 1, 20, 0.03) 0px 0.5px 0.5px 0px;
  --shadow-md: rgba(255, 255, 255, 0.72) 0px 0px 16px 0px, rgba(255, 255, 255, 0.32) 0px 0px 12px 0px, rgba(255, 255, 255, 0.32) 0px 0px 6px 0px, rgba(255, 255, 255, 0.32) 0px 0px 2px 0px;
  --shadow-md: rgba(0, 0, 0, 0.04) 0px 8px 8px -3px, rgba(0, 0, 0, 0.04) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 2px 2px -1px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.03) 0px 0.5px 0.5px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
  --shadow-md: rgba(9, 1, 20, 0.06) 0px 8px 8px -3px, rgba(8, 1, 20, 0.06) 0px 3px 3px -1.5px, rgba(8, 1, 20, 0.04) 0px 2px 2px -1px, rgba(8, 1, 20, 0.03) 0px 1px 1px -0.5px, rgba(8, 1, 20, 0.03) 0px 0.5px 0.5px 0px, rgba(255, 255, 255, 0.08) 0px -4px 12px -4px inset, rgba(255, 255, 255, 0.06) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.12) 0px 0.5px 0.5px 0px inset;
  --shadow-lg: rgba(0, 0, 0, 0.04) 0px 12px 12px -3px, rgba(0, 0, 0, 0.02) 0px 6px 6px -3px, rgba(0, 0, 0, 0.02) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
  --shadow-lg: rgba(0, 0, 0, 0.06) 0px 12px 12px -3px, rgba(0, 0, 0, 0.04) 0px 6px 6px -3px, rgba(0, 0, 0, 0.02) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px;
  --shadow-lg: rgba(0, 0, 0, 0.04) 0px 12px 12px -3px, rgba(0, 0, 0, 0.02) 0px 6px 6px -3px, rgba(0, 0, 0, 0.02) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px;
  --shadow-xl: rgba(0, 0, 0, 0.05) 0px 12px 24px -3px, rgba(0, 0, 0, 0.03) 0px 6px 6px -3px, rgba(0, 0, 0, 0.02) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px;
  --shadow-xl: rgba(0, 0, 0, 0.08) 0px 12px 24px -3px, rgba(0, 0, 0, 0.04) 0px 6px 6px -3px, rgba(0, 0, 0, 0.04) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px;
  --shadow-xl: rgba(0, 0, 0, 0.12) 0px 12px 24px -3px, rgba(0, 0, 0, 0.06) 0px 6px 6px -3px, rgba(0, 0, 0, 0.06) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.06) 0px 1px 1px -0.5px;
  --shadow-xl: rgba(0, 0, 0, 0.06) 0px 16px 32px -6px, rgba(0, 0, 0, 0.08) 0px 8px 12px -6px, rgba(0, 0, 0, 0.04) 0px 4px 4px -2px, rgba(0, 0, 0, 0.06) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 2px 2px -1px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px;
  --shadow-xl: rgba(0, 0, 0, 0.04) 0px 24px 32px -3px, rgba(0, 0, 0, 0.06) 0px 12px 24px -3px, rgba(0, 0, 0, 0.04) 0px 6px 6px -3px, rgba(0, 0, 0, 0.04) 0px 3px 3px -1.5px, rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px;
  --shadow-xl: rgba(102, 102, 102, 0.03) 0px -32px 40px 0px inset, rgba(102, 102, 102, 0.12) 0px -2px 2px 0px inset, rgba(255, 255, 255, 0.64) 0px -1px 0.5px 0px inset, rgba(255, 255, 255, 0.5) 0px 1px 0.25px 0px inset, rgba(102, 102, 102, 0.04) 0px -8px 56px 0px inset;
  --shadow-xl: rgba(102, 102, 102, 0.03) 0px -32px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 24px 24px 0px, rgba(0, 0, 0, 0.06) 0px 4px 4px 0px, rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(0, 0, 0, 0.08) 0px 1px 1px 0px, rgba(0, 0, 0, 0.08) 0px 0.5px 0.5px -0.5px;
  --shadow-xl: rgba(1, 1, 32, 0.08) 0px 262px 105px -72px, rgba(1, 1, 32, 0.16) 0px 147px 88px -40px, rgba(1, 1, 32, 0.2) 0px 64px 80px -32px, rgba(1, 1, 32, 0.24) 0px 16px 36px -12px, rgba(255, 255, 255, 0.06) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.12) 0px 0.5px 0.5px 0px inset;

  /* Original Site Variables */
  /* — colors — */
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --body-light-bg-ghost: color(display-p3 0.2157 0.2157 0.2157 / 0.04);
  --body-dark-muted: color(display-p3 1 1 1 / 0.60);
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-border-spacing-x: 0;
  --tw-shadow-colored: 0 0 #0000;
  --tw-border-spacing-y: 0;
  --body-light-muted: color(display-p3 0.3961 0.3961 0.3961);
  --tw-ring-color: rgb(59 130 246 / .5);
  --body-stroke-muted: color(display-p3 0.0863 0.0863 0.0863 / 0.12);
  --body-light-bg-muted: color(display-p3 0.2157 0.2157 0.2157 / 0.12);
  --tw-ring-offset-color: #fff;
  /* — spacing — */
  --tw-contain-size: ;
  --tw-numeric-spacing: ;
  /* — shadows — */
  --tw-shadow: 0 0 #0000;
  --tw-drop-shadow: ;
  /* — other — */
  --scrollbar-width: 6px;
  --tw-contrast: ;
  --body-dark-loud: color(display-p3 1 1 1 / 0.80);
  --tw-backdrop-sepia: ;
  --tw-sepia: ;
  --tw-skew-x: 0;
  --tw-ordinal: ;
  --tw-backdrop-saturate: ;
  --body-stroke-lighter: color(display-p3 0.0863 0.0863 0.0863 / 0.06);
  --tw-backdrop-blur: ;
  --tw-contain-style: ;
  --body-light-ghost: color(display-p3 0.6444 0.6444 0.6444);
  --tw-translate-x: 0;
  --tw-gradient-via-position: ;
  --tw-backdrop-invert: ;
  --tw-saturate: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-grayscale: ;
  --tw-scale-x: 1;
  --tw-backdrop-hue-rotate: ;
  --tw-gradient-to-position: ;
  --tw-brightness: ;
  --tw-numeric-fraction: ;
  --tw-backdrop-grayscale: ;
  --tw-hue-rotate: ;
  --tw-scale-y: 1;
  --tw-pan-y: ;
  --tw-backdrop-contrast: ;
  --tw-skew-y: 0;
  --tw-backdrop-brightness: ;
  --tw-slashed-zero: ;
  --tw-blur: ;
  --tw-invert: ;
  --tw-pan-x: ;
  --tw-translate-y: 0;
  --tw-backdrop-opacity: ;
  --body-light-loud: color(display-p3 0.08 0.08 0.08);
  --tw-gradient-from-position: ;
  --tw-numeric-figure: ;
  --tw-rotate: 0;
  --tw-pinch-zoom: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}