@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

html, body {
  min-width: 1746px;
  background: #F9F9F9;
  color: #171717;
  overflow-x: hidden;
}
:root {
  --foreground: #171717;
  --primary: #0a0e27;
  /* Dark Navy from Image */
  --accent: #3b82f6;
  /* Blue accent */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* .header-font { */
  /* font-family: "SN Pro", "Varela Round", sans-serif; */
  /* font-family: "SN Pro", system-ui, -apple-system, "Segoe UI", sans-serif; */
/* } */
.brand-wordmark {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
